<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zip.dao.DictInfoMapper">

	<!-- 公共的字段 -->
	<sql id="surfaceColumn">DICT_ID, DICT_NAME, DICT_NAME_EN, DICT_VALUE, DICT_COLUMN, DICT_SORT</sql>
	
	<!-- 查询所有的字典信息 -->
	<select id="selectDictInfo" resultType="map">
		SELECT <include refid="surfaceColumn"/> FROM DICT_INFO ORDER BY DICT_COLUMN ASC, DICT_SORT ASC
	</select>
</mapper>