<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zip.dao.VideoInfoMapper">

	<!-- 公共的字段 -->
	<sql id="surfaceColumn">VIDEO_ID, VIDEO_TITLE, VIDEO_TITLE_EN, FILE_ID, F_FILE_URL(FILE_ID) FILE_URL, F_FILE_PATH(FILE_ID) FILE_PATH, VIDEO_TYPE, VIDEO_IMAGE, F_FILE_URL(VIDEO_IMAGE) VIDEO_IMAGE_PATH,
	F_DICT_NAME('VIDEO_TYPE', VIDEO_TYPE) VIDEO_TYPE_NAME, VIDEO_STATUS, F_DICT_NAME("VIDEO_STATUS", VIDEO_STATUS) VIDEO_STATUS_NAME,
	INSERT_TIME, DATE_FORMAT(INSERT_TIME, '%Y-%m-%d') INSERT_TIME_SIMPLE, UPDATE_TIME, DATE_FORMAT(UPDATE_TIME, '%Y-%m-%d %T') UPDATE_TIME_FULL, 
	DATE_FORMAT(INSERT_TIME, '%Y-%m-%d %T') INSERT_TIME_FULL,F_USER_NAME(USER_ID) USER_NAME</sql>

	<select id="selectVideoInfoBySearch" resultType="map" parameterType="map">
		SELECT <include refid="surfaceColumn"/> FROM VIDEO_INFO
		<where>
			<if test="videoId != null">
			AND VIDEO_ID =#{videoId}
			</if>
			<if test="title != null">
			AND VIDEO_TITLE LIKE CONCAT('%', #{title}, '%')
			</if>
			<if test="title_EN != null">
			AND VIDEO_TITLE_EN LIKE CONCAT('%', #{title_EN}, '%')
			</if>
			<if test="type != null">
			AND VIDEO_TYPE =#{type}
			</if>
			<if test="status != null">
			AND VIDEO_STATUS =#{status}
			</if>
			<if test="end != null">
			AND INSERT_TIME &lt;= #{end}
			</if>
			<if test="start != null">
			AND INSERT_TIME &gt;= #{start}
			</if>
			<if test="userName != null">
			AND USER_ID = F_USER_ID(#{userName})
			</if>
		</where>
		<if test="sort != null and order != null">
			ORDER BY ${sort} ${order}
		</if>
	</select>
	
	<select id="selectVideoInfoById" parameterType="map" resultType="map">
		SELECT <include refid="surfaceColumn"/> FROM VIDEO_INFO WHERE VIDEO_ID =#{videoId}
	</select>

	<select id="selectVideoInfoByList" parameterType="map" resultType="map">
		SELECT <include refid="surfaceColumn"/> FROM VIDEO_INFO ORDER BY UPDATE_TIME DESC
	</select>

	<insert id="insertVideoInfo" parameterType="map">
		INSERT INTO VIDEO_INFO(VIDEO_TITLE, VIDEO_TITLE_EN, FILE_ID, VIDEO_TYPE, VIDEO_STATUS, INSERT_TIME, UPDATE_TIME, USER_ID, VIDEO_IMAGE) 
		VALUES(#{title}, #{title_EN}, #{fileId}, #{type}, 1, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{userId}, #{image})
	</insert>
	
	<update id="updateVideoInfoById" parameterType="map">
		UPDATE VIDEO_INFO 
		<set>
		<if test="title != null">
			VIDEO_TITLE=#{title},
		</if>
		<if test="title_EN != null">
			VIDEO_TITLE_EN=#{title_EN},
		</if>
		<if test="image != null">
			VIDEO_IMAGE=#{image},
		</if>
		</set> 
		WHERE VIDEO_ID =#{videoId}
	</update>
	
	<delete id="deleteVideoInfoById" parameterType="map">
		DELETE FROM VIDEO_INFO WHERE VIDEO_ID =#{videoId}
	</delete>
	
	<select id="selectVideoInfoByType" parameterType="map" resultType="map">
		SELECT <include refid="surfaceColumn"/> FROM VIDEO_INFO WHERE VIDEO_TYPE =#{type} ORDER BY VIDEO_ID DESC
	</select>
	
	<select id="selectLastInsertID" resultType="int">
		SELECT VIDEO_ID FROM (
			SELECT <include refid="surfaceColumn"/>, MAX(UPDATE_TIME) FROM VIDEO_INFO GROUP BY VIDEO_ID
		) a ORDER BY UPDATE_TIME DESC LIMIT 0, 1
	</select>
	
</mapper>